@model List<TesteMirum.Application.ViewModels.Pessoa.PessoaListaViewModel>

<table id="mytable" class="table table-bordred table-striped">

    <thead>
        <tr>
            <th>Cód. Pessoa</th>
            <th>Nome</th>
            <th>Rg</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Salário Base</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Rg</td>
                <td>@item.Email</td>
                <td>@item.Cargo</td>
                <td>@item.Salario_Base</td>

            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $('#mytable').DataTable({
                        "scrollY": "300px",
                         "scrollCollapse": true,
                        "bLengthChange": false,

                        "language": {
                        "sProcessing":    "Procesando...",
                        "sLengthMenu":    "Mostrar _MENU_ registros",
                        "sZeroRecords":   "Não foi encontrado resultados",
                        "sEmptyTable":    "Nenhum resultado encontrado",
                        "sInfo":          "Mostrando registros de _START_ até _END_ de um total de _TOTAL_ registros",
                        "sInfoEmpty":     "Mostrando registros de 0 até 0 de um total de 0 registros",
                        "sInfoFiltered":  "(filtrado de um total de _MAX_ registros)",
                        "sInfoPostFix":   "",
                        "sSearch":        "Buscar:",
                        "sUrl":           "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Carregando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":    "Último",
                            "sNext":    "Próximo",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                }
        });

    });

    
</script>